.left-side-cover {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}

.object {
    display: inherit;
    gap: 10px
}

.twitter-logo {
    height: 30px;
    margin-bottom: 20px;
}